@font-face {
  font-family: "bold";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "normal";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "italic";
  src: url(../fonts/Roboto-LightItalic.ttf);
  font-weight: normal;
}
* {
  margin: 10px 4%;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9faf8;
}
header {
  top: 0;
  left: 0;
  background-color: #1f2937;
  box-shadow: 0 5px 10px rgda(0, 0, 0, 0.1);
  height: 60vh;
  font-family: "normal", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9faf8;
  padding-left: 20px;
}
.navbar .logo {
  font-family: "bold", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar ul li a {
  display: block;
  color: #f9faf8;
}
.header-content {
  display: flex;
  justify-content: space-between;
  height: 35vh;
}
.header-content .main-text {
  font-family: "bold", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #f9faf8;
}
.header-content .sec-text {
  width: 80%;
  font-size: 18px;
  color: #e5e7eb;
}
.header-content button {
  padding: 5px 10px;
  background: #3882f6;
  border-radius: 5px;
  color: #f9faf8;
  width: 110px;
}
.img {
  margin-top: 30px;
  width: 100%;
}
section {
  width: 50%;
  margin: 35px auto;
}
.title {
  text-align: center;
  font-size: 4vmin;
  font-family: "bold", sans-serif;
  font-weight: bold;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -140px;
  font-family: "normal", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
.row .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.row .column img {
  border-radius: 10px;
}
.column p {
  padding: 0px 40px;
}
figure {
  margin: 50px;
  background-color: #e5e7eb;
  padding: 70px 20%;
  text-align: center;
  font-family: "italic", sans-serif;
  font-weight: normal;
  font-size: 36px;
  color: #1f2937;
}
.left {
  float: right;
  margin-top: -20px;
  font-size: 20px;
  font-weight: bolder;
}
.card {
  width: 60%;
  margin: 5% 18%;
  height: 15vh;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  font-family: "normal", sans-serif;
  font-weight: normal;
}
.card p {
  margin-top: -12px;
  width: 80%;
  font-size: small;
}
.card button {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  width: 120px;
}
footer {
  font-family: "normal", sans-serif;
  font-size: small;
  background-color: #1f2937;
  padding: 10px;
  text-align: center;
  color: white;
}
